<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Your App</title>
    <script src="/lib/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="/lib/leaflet/leaflet.css" />
</head>
<body>
<div id="root"></div>
</body>
</html>
