.btn-wrap {
  filter: drop-shadow(2px 4px 3px rgba(50, 50, 0, 0.5));
  margin-bottom: 10px;
}

.btn {
  width: 126px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #787878;
  color: #fff;
  font-size: 18px;
  overflow: hidden;      /* 隐藏溢出部分 */
  clip-path: polygon(3% 0%, 95% 0%, 100% 100%, 0% 100%);
  border-radius: 7% 9% 0% 0% / 44% 72% 0% 0%;
}

